{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gardyn - Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet">
    <style>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
      }

      body {
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
        background: #000605;
        color: white;
      }

      #root {
        height: 100vh;
      }

      body,
      ul[class],
      ol[class] {
        padding: 0;
        margin: 0;
      }

      ul[class],
      ol[class] {
        list-style: none;
      }

      .hide {
        position: absolute;
        left: -999rem;
      }
      </style>
  </head>
  <body>
    <div id="root"></div>
    <script defer src="{% static 'bundle.js' %}"></script>
  </body>
</html>
